.select {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 5px;
}

.selected {
  width: 360px;
  height: 32px;
  padding: 6px 12px;
  border-radius: 4px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.selected:focus,
.item:focus {
  outline: 1px solid #4971ff;
}

.items {
  width: 360px;
  max-height: 70vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 12px 0;
  background-color: #ffffff;
  margin-top: 2px;
}

.item {
  padding: 8px 12px;
  display: flex;
  align-items: center;
}

.item:hover {
  background-color: #e4eaff;
}

::-webkit-scrollbar {
  width: 2px;
  height: 90px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #3f4254;
  border-radius: 5px;
}
